<style>
    .home-container {
        display: flex;
        flex-direction: column;
        flex-wrap:  wrap;
        justify-content: start;
        align-content: center;
        /* border-style: solid; */
    }
    .home-animation{
        width: 40em; 
        height: 35em;  
    }
</style>
<div class="home-container">
    <!-- <div class="home-container-1"></div> -->
    <div class="home-container-2">
        <img class="home-animation" 
        src="images/home_animation.svg" alt="Loading an animation">
    </div>
    <!-- <div class="home-container-3"></div> -->
</div>
