<div id = "container" style = "width: 650px; height: 600px; margin: 0 auto">
</div>
<script language = "JavaScript">
   function drawChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Profession');
      data.addColumn('number', 'Percentage');
      data.addRows([
         ['Software', 45.0],
         ['System', 26.8],
         ['Network', 12.8],
         ['Data_Science', 8.5],
         ['AI_ML', 6.2],
         ['Others', 0.7]
      ]);
         
      // Set chart options
      var options = {
         'title':'Distribution of resumes categories',
         'width':650,
         'height':600
      };

      // Instantiate and draw the chart.
      var chart = new google.visualization.PieChart(document.getElementById('container'));
      chart.draw(data, options);
   }
   google.charts.setOnLoadCallback(drawChart);
</script>