<div id = "container" style = "width: 700px; height: 700px; margin: 0 auto">
</div>

<script language = "JavaScript">
   var data = null;
   function loadChartData(){

      $.ajax('http://127.0.0.1:8000/get-chart-list?page=1&size=10',   
        {
            success: function (data, status, xhr) {
               datafromserver = data;
            },
            error: function(jqXHR, exception) {
               datafromserver = [
                                 [
                                    "resumes",
                                    "overall",
                                    "similarity",
                                    "years"
                                 ],
                                 [
                                    "resume-21",
                                    0.8872682886921271,
                                    0.03738875166251099,
                                    0.014019013871656756
                                 ]
                                 ];
            }
        });
   }
   function drawChart() {
      loadChartData();
      // Define the chart to be drawn.
      var data = google.visualization.arrayToDataTable(datafromserver);

      var options = {
         'title': 'The top resumes match with the job descriptions',
         'width':700,
         'height':700
      }; 

      // Instantiate and draw the chart.
      var chart = new google.visualization.BarChart(document.getElementById('container'));
      chart.draw(data, options);
      google.visualization.events.addListener(chart, 'select', selectHandler);

      function selectHandler() {
         var resume_name = data.getValue(chart.getSelection()[0].row, 0);
         //$.ajax('http://127.0.0.1:8000/download?resume_name='+resume_name,   
         window.open('http://127.0.0.1:8000/download/'+resume_name);
      }
      
   }
   google.charts.setOnLoadCallback(drawChart);
</script>