html {
    font-family: cursive;
    background-color: var(--color-background);
}

* {
    --color-dark : #2E76CF;
    --color-medium : #ff69b4;
    --color-light : #E8CCDA;
    --color-background : white;
    --color-text : black;
    --color-header : var(--color-dark);
    --color-footer : var(--color-dark);
    --hover-color : #173b67;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}